.container > div {
    height: 200px;
    padding: 5px;
    position: relative;
    border: 1px solid black;
    text-align: center;
}

.back-color {
    background-color: #ffc0cb;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nested {
    position: relative;
    height: 100%;
    background-color: #f07f80;
    border: 1px solid white;
}



